.nav-box {
    color: white;
}
#mist-health-title {
    color: aqua;
    background: linear-gradient(#6900f3, #0c001d);
    background-attachment: fixed;
    padding: 1%;
    border-radius: 5%;
}
h2 {
    color: #333;
    font-weight: bold;
}
.insight-img {
    border-radius: 1em;
    transition: 2s;
}
