.nav-box {
    color: white;
}
a {
    cursor: pointer;
}
#mist-health-title {
    color: aqua;
    /*background: linear-gradient(#6900f3, #0c001d) fixed;*/
    padding: 1%;
    margin-left: 15vw;
    border-radius: 5%;
}
.home-nav {
    background: rgba(0, 0, 0, 0.63); /* You can adjust the color and opacity as needed */
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    position: fixed;
    margin: auto;
    height: 8vh;
    width: 100vw;
    z-index: 2;
}
main {
    padding-top: 1vh;
}
.main-section {
    margin-top: 17vh;
    margin-bottom: 10vh;
}
#full-screen-img {
    /*width: 100vw;*/
    /*margin-right: 5vw;*/
}
h1 {
    font-weight: bolder;
    font-size: 60px;
}
#sunset-img {
    width: 100vw;
    height: 50vh;
    /*border-radius: 1em;*/
    background-attachment: fixed;
}
h2 {
    color: #333;
    font-weight: bold;
}
#user-registration-heading {
    color: black;
    padding-top: 10vh;
}
.insight-img {
    border-radius: 3em;
    padding: 2em;
    transition: 2s;
}
.insight-caption {
    margin-top: 10vh;
    font-size: 48px;
    text-align: center;
}
#caption-img-kat {
    height: 80vh;
    width: 30vw;
    margin-left: 10vw;
}
p {
    font-size: 24px;
}
.get-started-box {
    text-align: center;
}
.get-started-btn {
    padding: 1em;
    font-size: 24px;
    border: solid 2px black;
    border-radius: 0.5em;
    width: 20vw;
    display: block; /* Added this line */
    margin: auto;   /* Added this line */
    margin-top: 10vh;
}
#steps-page {
    background: linear-gradient(#ffffff, #fafafa, #ffffff) fixed;
    color: black;
}
